<h1>Chef <%= @dish.chef.name %>'s famous <%= @dish.name %></h1>

<h3>Ingredients:</h3>
  <% @dish.ingredients.each do |ingredient| %>
    <ul>
      <li><h3><%= ingredient.name %></h3></li>
    </ul>
  <% end %>
